.plusButton {
  font-size: 4vh;
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  z-index: 1030;
  width: auto;
  height: 8vh;
}

.trash:hover {
  color: red;
}

.mainContainer {
  height: 98vh;
}

.pencil:hover {
  color: orange;
}
